
.wrapper {
    background-color: red;
    display: flex;
    flex-flow: row wrap;
}

.wrapper > * {
    /*flex: 1 1 100%;*/
}

.header {
    background-color: black;
    color: white;
    display: row;
    flex: 1 1 100%;
}

.footer {
    background-color: lightgreen;
    flex: 1 1 100%;
}

.content-container {
    background-color: blue;
    /*flex: 1 1 1;*/
}

.aside {
    background-color: black;
    color: grey;
    /*flex: 3 3 3;*/
}

.center-container {
    background-color: darkred;
}

.latest-container {
    background-color: tomato;
}

.post-container {
    background-color: pink;
}

@media all and (min-width: 600px) {
    .aside {
        flex: 1 5%;
    }
}

@media all and (min-width: 800px) {
    .content-container {
        flex: 4 0px;
        order: 2;
    }
    .aside { order: 3; }
    .footer { order: 4; }
}

