{% extends "_base.html" %}

{% block content %}
  <h1>{{heading}}</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
	<form method="POST">
		<label for="title">Title</label>
		<input type="text" id="title">

		<label for="Author">Author</label>
		<input type="text" id="Author">

		<label for="video">Video</label>
		<input type="text" id="video">

		<label>Publish Date</label>
		<input type="date" id="publish">

		<label for="post">Post</label>
		<textarea id="post"></textarea>

    <label for="checkbox">Hide post from public</label>
    <input type="checkbox" name="Do not publish" id="checkbox">

		<input type="submit" value = "Submit">
	</form>
{% endblock %}

{% block footer %}
{% endblock %}
