<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing page</title>
</head>
<body>
    <h1>Editing page</h1>
	<form>
		<label for="title">Title</label>
		<input type="text" id="title">

		<label>Author</label>
		<input type="text" id="Author">

		<label>Description</label>
		<textarea id="description"></textarea>

		<label>Video</label>
		<input type="text" id="vido">

		<label>Post</label>
		<textarea id="post"></textarea>

		<input type="submit" value = "Submit">
	</form>

</body>
</html>



