{% extends "_base.html" %}

{% block content %}
  <!--[if lt IE 8]>
  <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

  <div class="content-container">
    <div class="latest-container">
      <iframe
        src="https://feed.mikle.com/widget/v2/65342/"
        height="474px"
        width="100%"
        class="fw-iframe"
        scrolling="no"
        frameborder="0">
      </iframe>
    </div>

    <div class="post-container">
      {% for post in posts %}
      <article>
        <header>
          <h1>{{ post.title }}</h1>
        </header>
        <section>
          <div>
            <iframe
              src="{{ post.video }}"
              width="600"
              height="400"
              style="border:none; overflow:hidden"
              scrolling="no"
              frameborder="0"
              allowTransparency="true"
              allow="encrypted-media"
              allowFullScreen="true">
            </iframe>
          </div>
          <div>
            {{ post.text }}
          </div>
        </section>
      </article>
      {% endfor %}
    </div> <!-- #post-container -->
  </div>

  <aside class="aside">
    <h3>RSS Feed</h3>
    <script type="text/javascript" src="{{ url_for('static', filename='js/rss.js') }}"></script>
    <script type="text/javascript" src="//feed.surfing-waves.com/js/rss-feed.js"></script>

    <h3>Twitter</h3>
    <a class="twitter-timeline" data-width="300" data-height="400" data-theme="dark" data-link-color="#FAB81E" href="https://twitter.com/pierceofmindpod?ref_src=twsrc%5Etfw">
      Tweets by pierceofmindpod
    </a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </aside>
{% endblock %}
