{% extends "_base.html" %}

{% block content %}
<body>



    <!--<div class="post">-->
        <div class="main wrapper clearfix">

        <article >
            <h1>{{title}}</h1>
            <h5> by {{author}}</h5>
            <p>
              <div>
                {% if url is not none %}
                <iframe
                  src="{{ url }}"
                  width="600"
                  height="400"
                  style="border:none; overflow:hidden"
                  scrolling="no"
                  frameborder="0"
                  allowTransparency="true"
                  allow="encrypted-media"
                  allowFullScreen="true">
                </iframe>
                {% endif %}
              </div>
            </p>
            <p>
                {{text}}
            </p>
            <p>
                <h5>posted {{pub_date}}</h5>
            <a href = "{{url_for('main.edit', id=id)}}" id = "edit" >Edit Post</a>
            </p>
            <a href = "{{url_for('main.index')}}" id = "home" > Home </a>
        </article>

        </div>
    <!--</div>-->

</body>

{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer %}
{% endblock %}
