{% extends "_base.html" %}

{% block content %}
<body>



    <!--<div class="post">-->
        <div class="main wrapper clearfix">

        <article >
            <h1>{{title}}</h1>
            <h4>{{author}} {{pubdate}}</h4>
            <p>
              <div>
                {% if url is not none %}
                <iframe
                  src="{{ url }}"
                  width="600"
                  height="400"
                  style="border:none; overflow:hidden"
                  scrolling="no"
                  frameborder="0"
                  allowTransparency="true"
                  allow="encrypted-media"
                  allowFullScreen="true">
                </iframe>
                {% endif %}
              </div>
            </p>
            <p>
                {{text}}
            </p>
        </article>

        </div>
    <!--</div>-->

</body>

{% endblock %}

{% block sidebar %}
{% endblock %}

{% block footer %}
{% endblock %}
