{% extends "_base.html" %}

{% block content %}

    <div class="main wrapper clearfix">

  {% if form.errors %}
    <h3>There are problems with the form:</h3>
    <ul class="errors">
      {% for field_name, field_errors in form.errors|dictsort if field_errors %}
        {% for error in field_errors %}
          <li>{{ form[field_name].label}}: {{error}}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}

  <form method="POST">
    {{ form.csrf_token }}
    <div>
      {{ form.first_name.label }}: {{ form.first_name }}
    </div>
    <div>
      {{ form.last_name.label }}: {{ form.last_name }}
    </div>
    <div>
      {{ form.email.label }}: {{ form.email }}
    </div>
    <div>
      {{ form.password.label }}: {{ form.password }}
    </div>
      <div> {{ form.submit(class="button") }} <a href="{{url_for('main.login')}}" class="button"> Log In</a> </div>
  </form>

    <p><a href = "{{url_for('main.index')}}" id = "home" > Home </a></p>
     </div>



{% endblock %}

{% block footer %}
{% endblock %}
